/* Карусель брендов */
.jcarousel-skin-opencart .jcarousel-container {
	
}
.jcarousel-skin-opencart .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-opencart .jcarousel-container-horizontal {
	padding: 0px 40px;
}
.jcarousel-skin-opencart .jcarousel-clip {
	overflow: hidden;
	width: 100%;
}
.jcarousel-skin-opencart .jcarousel-clip-horizontal {
}
.jcarousel-skin-opencart .jcarousel-item {
	text-align: center;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0; 
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.5;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal:hover {
	opacity: 1;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-opencart .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
.jcarousel-skin-opencart .jcarousel-next-horizontal {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 10px;
	width: 9px;
	height: 20px;
	cursor: pointer;
	background: url('../image/button-next.png') 0 0 no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background: url('../image/button-previous.png') 0 0 no-repeat;
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-horizontal:focus {
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:active {
}
.jcarousel-skin-opencart .jcarousel-next-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background: url('../image/button-next.png') 0 -30px no-repeat;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 10px;
	width: 9px;
	height: 20px;
	cursor: pointer;
	background: url('../image/button-previous.png') 0 0 no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background: url('../image/button-next.png') 0 0 no-repeat;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-horizontal:focus {
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background: url('../image/button-previous.png') 0 -30px no-repeat;
}








/* Карусель товаров */
.jcarousel-skin-product .jcarousel-container {
	display: block;
}
.jcarousel-skin-product li{
	width: 208px;
	padding: 15px 10px;
	display: block;
	vertical-align: top;
	text-align: center;
	line-height: normal;
	border-left: 1px dashed #eae2c5;
	position: relative;
	left: -1px;
}
.jcarousel-skin-product li:last-child{
	width: 206px;
}
#column-left  .jcarousel-skin-product li, #column-right .jcarousel-skin-product li{
	width: 205px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0;
	padding-right: 0;
	border: none;
}
.jcarousel-skin-product li.image {
	display: block;
	line-height: normal;
}
.jcarousel-skin-product li .image img {
}
.jcarousel-skin-product li .name {
}
.jcarousel-skin-product li .name a {
	font-size: 15px;
	color: #1969cf;
	font-weight: normal;
	text-decoration: underline;
	display: block;
	margin-bottom: 4px;
}
.jcarousel-skin-product li .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
	font-size: 18px;
	padding: 10px 0;
	line-height: normal;
}
.jcarousel-skin-product li .price-old {
	color: #F00;
	text-decoration: line-through;
	font-size: 16px;
	font-weight: normal;
}
.jcarousel-skin-product li .price-new {
	font-weight: bold;
	font-size: 16px;
}
.jcarousel-skin-product li .rating-line {
	display: block;
	margin: 0 10px;
	height: 30px;
}
.jcarousel-skin-product li .rating-line .rating {
	display: block;
	float: left;
}
.jcarousel-skin-product li .rating-line .otzivi {
	display: block;
	float: right;
	line-height: 12px;
}
.jcarousel-skin-product li .rating-line .otzivi a{
	font-size: 12px;
	text-decoration: none;
	color: #ccc;
}
.jcarousel-skin-product li:hover .rating-line .otzivi a{
	color: #1969cf;
}
.jcarousel-skin-product li .rating-line .otzivi a:hover{
	text-decoration: underline;
}
.jcarousel-skin-product li .wishlist a,
.jcarousel-skin-product li .compare a {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 10px;
}
.jcarousel-skin-product li  .wishlist a{
	background: #eee url(../image/wishlist-bg.png) center no-repeat;
}
.jcarousel-skin-product li  .compare a{
	background: #eee url(../image/compare-bg.png) center no-repeat;
}
.jcarousel-skin-product li:hover  .wishlist a{
	background-color: #f3d140;
}
.jcarousel-skin-product li:hover  .compare a{
	background-color: #00b6fe;
}
.jcarousel-skin-product li:hover .wishlist a:hover{
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.jcarousel-skin-product li:hover .compare a:hover{
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.jcarousel-skin-product li:hover .wishlist a:active{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.jcarousel-skin-product li:hover .compare a:active{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.jcarousel-skin-product li:hover input.module-button{
	background: #f35840;
}
.jcarousel-skin-product li:hover input.module-button:hover{
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.jcarousel-skin-product li:hover input.module-button:active{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}










.jcarousel-skin-product .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-product .jcarousel-container-horizontal {
	padding: 0px;
}
.jcarousel-skin-product .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-product .jcarousel-clip-horizontal {
}
.jcarousel-skin-product .jcarousel-item {

}
.jcarousel-skin-product .jcarousel-item-horizontal {

}
.jcarousel-skin-product .jcarousel-direction-rtl .jcarousel-item-horizontal {

}
.jcarousel-skin-product .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
.jcarousel-skin-product .jcarousel-next-horizontal {
	position: absolute;
	top: -25px;
	margin-top: 0;
	right: -10px;
	width: 9px;
	height: 20px;
	cursor: pointer;
	background: url('../image/button-next.png') 0 0 no-repeat;
}
#column-left .jcarousel-skin-product .jcarousel-next-horizontal,
#column-right .jcarousel-skin-product .jcarousel-next-horizontal {
	right: 0;
	top: 50%;
	margin-top: -10px;
}
.jcarousel-skin-product .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 0;
	right: auto;
	background: url('../image/button-previous.png') center no-repeat;
}
.jcarousel-skin-product .jcarousel-next-horizontal:hover, .jcarousel-skin-product .jcarousel-next-horizontal:focus {
}
.jcarousel-skin-product .jcarousel-next-horizontal:active {
}
.jcarousel-skin-product .jcarousel-next-disabled-horizontal, .jcarousel-skin-product .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-product .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-product .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background: url('../image/button-next.png') 0 -30px no-repeat;
}
.jcarousel-skin-product .jcarousel-prev-horizontal {
	position: absolute;
	top: -25px;
	margin-top: 0;
	right: 10px;
	width: 9px;
	height: 20px;
	cursor: pointer;
	background: url('../image/button-previous.png') 0 0 no-repeat;
}
#column-left .jcarousel-skin-product .jcarousel-prev-horizontal,
#column-right .jcarousel-skin-product .jcarousel-prev-horizontal {
	left: 0;
	top: 50%;
	margin-top: -10px;
}
.jcarousel-skin-product .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 0px;
	background: url('../image/button-next.png') center no-repeat;
}
.jcarousel-skin-product .jcarousel-prev-horizontal:hover, .jcarousel-skin-product .jcarousel-prev-horizontal:focus {
}
.jcarousel-skin-product .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-product .jcarousel-prev-disabled-horizontal, .jcarousel-skin-product .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-product .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-product .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background: url('../image/button-previous.png') 0 -30px no-repeat;
}
